# Backend API
EXPO_PUBLIC_API_URL=https://amparo-backend.vercel.app

# Supabase — mesmas keys do backend
EXPO_PUBLIC_SUPABASE_URL=https://ssqtrsdxxexompyixlxo.supabase.co/rest/v1/
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNzcXRyc2R4eGV4b21weWl4bHhvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc1NjI4NzEsImV4cCI6MjA5MzEzODg3MX0.mtOYnkSwLaRPxvP3tJWdJ3qdb1sKb012q7tedJrXjmg

# Google Sign-In
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=943074725261-ibi2lft93bmhg4ug5ljt6dguhnkaaidk.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=943074725261-uh2l71e02krro89lrth75ss1pt6ja6tp.apps.googleusercontent.com
